<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <nav>
        <a href="{% url 'todo_list_list' %}">Main Page</a>
    </nav>
</header>
<body>
    <main>
        <div>
            <h1> {{todo_list.name}}</h1>
            <p><a href="{% url 'todo_list_update' todo_list.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' todo_list.id %}">Delete</a></p>
            <h2>Task</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in todo_list.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' detail.id %}">{{detail.task}}</a></td>
                        <td>{{detail.due_date|date:"M j, Y"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</body>
</html>
