<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <nav>
        <a href="{% url 'todo_list_list' %}">Main Page</a>
    </nav>
</header>
<body>
    <main>
        <div>
            <h1>Update Task</h1>
            <form method="post">
                {% csrf_token %}
                {{items_form.as_p}}
                <button>Create</button>
            </form>
        </div>
    </main>
</body>
</html>
